.card {
  display: grid;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(3, 282px);
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  color: #000;
  padding: 25px 0 20px 25px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  height: 18px;
  width: 21px;
  background: url(../images/heart-icon.svg) no-repeat;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  color: #fff;
  opacity: 50%;
  transition: 0.2s ease-in-out;
}

@media (max-width: 890px) {
  .card {
    grid-template-columns: repeat(2, 282px);
  }
}

@media (max-width: 580px) {
  .card {
    grid-template-columns: 282px;
  }
}
