.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  visibility: hidden;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  border: none;
  margin: auto;
  width: 330px;
}

/* FOR CARDS */

.modal__card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s 0.6s, opacity 0.6s;
  visibility: hidden;
}

.modal__card {
  position: relative;
  border: none;
  margin: auto;
}

.modal__card-image {
  width: 433px;
  height: 548px;
}

.modal__card-title {
  margin: 0;
  padding-top: 10px;
  max-width: 291px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
}

.modal__card-button {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__card-button:hover {
  opacity: 0.6;
}

/* ENDING OF CARDS */

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__form {
  max-width: 358px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 54px;
  margin: 0;
}

.modal__input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13.34px;
  margin-bottom: 29.74px;
}

.modal__container-button {
  background-color: black;
  color: #fff;
  border-radius: 2px;
  border-style: none;
  height: 50.15px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 9px;
  cursor: pointer;
}

.modal__container-button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

@media (max-width: 522px) {
  .modal__card-button {
    left: 355px;
    bottom: calc(100% + 10px);
  }

  .modal__card-image {
    width: 345px;
    height: 460px;
  }
}

@media (max-width: 444px) {
  .modal__card-button {
    left: 310px;
    bottom: calc(100% + 10px);
    width: 35px;
    height: 35px;
  }

  .modal__card-image {
    width: 300px;
    height: 415px;
  }
}

@media (max-width: 490px) {
  .modal__container {
    width: 258px;
  }
}

@media (max-width: 420px) {
  .modal__close {
    left: 290px;
    bottom: calc(100% + 20px);
  }
}

@media (max-width: 320px) {
  .modal__form {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    left: 270px;
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__container-button {
    font-size: 14px;
    line-height: 17px;
  }

  .modal__card-image {
    width: 240px;
    height: 299px;
  }

  .modal__card-button {
    left: 243px;
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
  }
}
