.page {
  background-color: #000;
  color: #fff;
}

.page__content {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .page__content {
    width: auto;
  }
}
